@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #333;
    font-family: "Oswald", sans-serif;
}
.para-mi-amor{
    background-color: #777;
    font-size: 5rem;
    color: #f3eeee;
    text-align: center;
    margin-top: 5rem;
    padding: 2rem;
    text-shadow: #333 2px 0 0;
    
    transition: transform 1s;
}

.para-mi-amor:hover{
    transform: scale(1.1);
    font-size: 6rem;
    box-shadow: 0 0 1rem rgb(236, 234, 234);
}
.main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin: 5rem;
    
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    
    transition: transform 1s;
    
}

.card-container:hover{
    box-shadow: 0 0 1rem rgb(236, 234, 234);
    transform: scale(1.1);
    transform: rotate(4deg);
    background-color: #636363;
    color: #fff;
}


.card-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card-container h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-container p {
    font-size: 1.4rem;
    color: #777;
}

.card-container p:hover{
    color: #f3eeee;
}



/*mobile*/
@media screen and (max-width: 768px){
    .main-container{
        grid-template-columns: 1fr;
    }

}